{% extends "layout.html" %}

{% block title %} Register {% endblock %}

{% block main %}
    <div class="form-wrapper">
        <h2 class="username">Login In</h2>

        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <fieldset class="form-field">{{ form.symbol.label }} {{ form.symbol }}
            {% if form.symbol.errors %}
                <ul class="errors">
                {% for error in form.email.errors %}
                    <li class="error">
                        <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            </fieldset>

            <fieldset class="form-field">{{ form.shares.label }} {{ form.shares }}
            {% if form.shares.errors %}
                <ul class="errors">
                {% for error in form.shares.errors %}
                    <li class="error">
                        <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            </fieldset>

            {{ form.submit }}
        </form>
    </div>
{% endblock %}
